# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependency folders
/frontend/node_modules/
/backend/node_modules/
/backend/__pycache__/
/.pnp/
/.pnp.js

# Testing output
/coverage/

# Production build output
/frontend/build/
/backend/build/

# Environment files
.env
.env.local
.env.development
.env.development.local
.env.test
.env.test.local
.env.production
.env.production.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System files
.DS_Store
Thumbs.db

# IDE-specific
.vscode/
.idea/

# Others
*.log
*.tmp

# Optional: Ignore docker-related stuff if you use docker
docker-compose.override.yml
